*{
  margin: 0;
  padding: 0;

}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.world{
  width: 1000px;
  height: 600px;
  border: solid rgb(206, 88, 88);
  position: relative;


}
.block{
  height: 600px;
  width: 50px;
  background-color: black;
  position: relative;
}
.animation{
  animation: blockAnimation 3s linear infinite;

}
.spinAnimeChar{
  animation: char 0.1s infinite;
}
.hole{
  height: 200px;
  width: 50px;
  position: absolute;
  background-color: white;
  
  top: 0px;
}
.character{
  height: 50px;
  width: 50px;
  border-radius: 25% 40% 10%;
  background-color: green;
  position: absolute;
  top: 100px;
  z-index: 3;
}
#text {
  font-size: xx-large;
  line-height: 50px;
  font-family: "Cinzel", serif;
  letter-spacing: 8px;

  z-index: 2; /* Ustawiamy z-index, aby tekst był na wierzchu */
  position: absolute; /* Ustawiamy pozycję na względną */
  top: 0;
}

.background {
  position: absolute; /* Ustawiamy pozycję na absolutną */
  top: 0;
  left: 0;
  width: 100%; /* Ustawiamy szerokość na 100% */
  height: 50%; /* Ustawiamy wysokość na 100% */
  filter: blur(4px); /* Dodajemy efekt rozmycia */
  background: rgba(255, 255, 255, 0.514); /* Ustawiamy kolor tła z przezroczystością */
  z-index: 1; /* Ustawiamy niższy z-index, aby było pod tekstem */
  border-radius: 10% 25%  50%;
}


@keyframes blockAnimation {
  0%{
    left: 1000px;
  }
  100%{
    left: -50px;
  }
}
@keyframes char {
  0%{
    transform: rotate(0deg);
    scale: 1;
  }
  100%{
    transform: rotate(360deg);
    scale: 1.5;
  }
}